// Colors
$color-test: rgb(187, 187, 187);
$color-white: #fff;
$color-light-grey: #777;
$color-grayish-blue: hsl(246, 25%, 77%);
$color-red-primary: hsl(0, 100%, 70%);

$color-green-primary: hsl(154, 76%, 45%);
$color-green-primary-hovered: hsl(154, 46%, 50%);

$color-blue-primary: hsl(248, 32%, 49%);
$color-blue-primary-hovered: hsl(248, 41%, 45%);
$color-dark-blue-primary: hsl(249, 10%, 26%);


// Font Sizes
$body-font-size: 1rem;
